@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background-color: #14141442;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(1, 1, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(198, 71%, 55%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
}
